
.header {
   /* background-color : burlywood;*/
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 5rem;
}