.Head
{
    height: 100px;
    background-color: rgb(110, 155, 238);
}
.Menu
{
    height: 200px;
    background-color: rgb(151, 220, 221);
    
}
.Img
{
    background-image: url("https://s3.envato.com/files/79069308/01_blue_sky_background_with_sky_t.jpg");
}
.footer
{
    height: 100px;
    background-color: bisque;
}